[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
notebook = "*"
openai = "*"
elasticsearch = "==8.4.3"
requests = "*"
pandas = "*"
scikit-learn = "*"
transformers = "*"
tiktoken = "*"
sentence-transformers = "*"
numpy = "==1.26.4"
python-dotenv = "*"
ipywidgets = "*"
matplotlib = "*"
wget = "*"
seaborn = "*"
pgcli = "*"
psycopg2 = "*"
torch = "==2.2.0"
setuptools = "*"
wheel = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12.1"
